body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #1b1b1b;
    color: #fff;
}

header {
    background: #111;
    color: cyan;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 3px solid cyan;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding: 30px;
}

.categoria-card {
    background: #222;
    padding: 40px 20px;
    border-radius: 12px;
    text-align: center;
    color: #00eaff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid cyan;
    transition: 0.3s ease;
}

.categoria-card:hover {
    background: #00eaff;
    color: #111;
    transform: scale(1.05);
    box-shadow: 0 0 15px cyan;
}

.categoria-card a {
    color: inherit;
    text-decoration: none;
}

